body {
    display: grid;
    gap: 1rem;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom left,black 50%, white 50%);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width:820px) {
    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: radial-gradient(circle at center, #26ffde, #484747, white);

    }
}

.container {
    display: flex;
    justify-content: center;
    border: 1px solid;

}

img {
    display: block;
    position: fixed;
    border-radius: 1rem;
    border-left: transparent;
    border-bottom: transparent;
    top: 45vh;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    z-index: 1;
    box-shadow: 0 0 1px 1px whitesmoke;
}

/* media para img*/
@media (max-width:768px) {
    img {
        top: 15rem;
        width: 10rem;
    }
}
.icon {
    display: flex;
    position: fixed;
    left: 50%;
    top: .5rem;
    transform: translateX(-50%);
    border-radius: 50%;
    width: 4rem;
    z-index: 2;
    border-left: .2rem solid #ffffff;
    border-top: .2rem solid #000000;
    border-right: .2rem solid #ffffff;
    border-bottom: .2rem solid #000000;
    /*border animation para hacer*/

}

/*media para icon*/
@media (max-width:768px) and (max-width:820) {
    .icon {
        width: 3rem;
    }
}


.content {
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 45rem;
    left: 50%;
    transform: translateX(-50%);
    width: 30rem;
    height: 4.3rem;
    margin: 1rem;
    z-index: 1;
    background-color: #000000;
    border-radius: 5rem;
    box-shadow: 0 0 10px #09fff7;
}


.content a {
    text-decoration: none;
    border: .1rem solid #01ff01;
    border-radius: 1rem;
    padding: .5rem 2rem;
    margin: 1rem;
    color: #424242;

}

@media (max-width:768px) {
    .content {
        left: 45%;
        transform: translateX(-50%);
        width: 20rem;
        top: 30rem;
        background: none;
        box-shadow: none;
    }

    .content a {
        border-color: .5rem#99ff2b;
        color: #090909;
    }
}
@media (max-height:768px) {
    .content {
        width: 27rem;
        left: 50%;
        top: .1rem;
        box-shadow: none;
 
    }
}
a:hover {
    transition: all .3s;
    background-color: rgb(0, 0, 0);
    color: #fffb11;
    border-bottom: .3rem solid #2fffce;
    border-top: .3rem solid #2fffce;
    border-left: 1rem solid #f5ff2f;
    border-right: 1rem solid #f5ff2f;
    box-shadow: 0 0 10px #09fff7;
}
 

.face{
   width: 50%;
   height: 50vh;
   max-width: 450px;
   aspect:ratio 1/1;
   background-color: rgb(255, 213, 0);
   border-radius: 50%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   outline: 13px solid rgb(255, 166, 0);
   border: 13px solid rgb(255, 187, 0,0.926);
   box-shadow: 1px 1px 1rem black;
   position: absolute;
}

.eyes {
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftEye, .rightEye{
    width: 455;
    aspect-ratio: 1/1;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    box-shadow: 1px 1px 1rem gray;
    justify-content: flex-start;
    align-items: flex-start;
}

.leftPupil, .rightPupil {
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
   
}

.mouth {
    
  
    width: 130px;
    height: 30px;
    background: radial-gradient( rgb(174, 125, 33), rgb(121, 81, 5));
    border-radius: 100%;
    margin-bottom: 80px;
    border: 2px solid rgb(244, 205, 113);
    border-style: inset;

}
